h1{
    text-align: center;
}
#main{
    border: 1px solid black;
    width: 200px;
    margin:0 auto;
}
#input{
    width: 96%;
    background-color: white;
    color: black;
    
}
#Cbtn{
width: 100%;
margin:2.8px 0px 2px 0px;
background-color: rgb(207, 133, 133);
color: #fff;
}
.btn{
    background-color: rgb(51, 181, 229) !important; 
    color: #fff;
}
#btn{
    background-color: rgb(224, 224, 224);
    color: black;
    width: 43px;
    margin: 2px;
    border: none;
}
#btnhlf{
    width: 47%;
    border: none;
    margin: 2px;
    background-color: rgb(43, 187, 173);
}
#btn:hover{
    background-color: yellowgreen;

    }